# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PycharmProject\resnet18-image-classification-pytorch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
